<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/styles1.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row mh-100vh">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0"
                id="login-block">
                <div class="m-auto w-lg-75 w-xl-50">
                    <h1 class="text-info font-weight-light mb-5"><i class="fa fa-ambulance"></i>Let's Go to Ambulance Go
                    </h1>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label class="text-secondary">Phone No</label>
                            <input class="form-control" type="text" name="phone" required />
                        </div>
                        <div class="phone error"></div>
                        <div class="form-group">
                            <label class="text-secondary">Password</label>
                            <input class="form-control" type="password" required name="password">
                        </div>
                        <div class="password error"></div>
                        <button class="btn btn-info text-center mt-2" type="submit">Log In
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 text-center d-flex align-items-end" data-bs-hover-animate="pulse" id="bg-block"
                style="background-image: url(&quot;img/ambulance-car-doctors-hospital-wheel-bad-building_109722-609.jpg&quot;);background-size: cover;background-position: center center;">
                <p class="ml-auto small text-dark mb-2"><em>Photo by&nbsp;</em><a class="text-dark"
                        href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                        target="_blank"><em>Aldain Austria</em></a><br></p>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/bs-init.js"></script>

    <script>
        const form = document.querySelector('form');
        const phoneError = document.querySelector('.phone.error');
        const passwordError = document.querySelector('.password.error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            //reset errors
            phoneError.textContent = '';
            passwordError.textContent = '';

            const phone = form.phone.value;
            const password = form.password.value;

            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    body: JSON.stringify({ phone, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    phoneError.textContent = data.errors.phone;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/');
                }
            } catch (err) {
                console.log(err);
            }
        })
    </script>
</body>

</html>