<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>

    <body>
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <h3>JOIN<br> AMBULANCE GO🚨</h3>
                    <p>Already a member? login below</p>
                    <a href="/login"><button class="btn btn-outline-light">Login</button></a>
                </div>
                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Register As An Ambulance Service Provider</h3>
                            <form action="/signup" method="post">
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Service Name *"
                                                name="name" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *"
                                                name="password" required />
                                        </div>
                                        <div class="password error"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address *"
                                                name="address" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Pincode *"
                                                name="pincode" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="7" maxlength="15" class="form-control"
                                                placeholder="Your Phone *" name="phone" required />
                                            <div class="phone error"></div>
                                        </div>
                                        <button type="submit" class="btnRegister" name="signup">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        const form = document.querySelector('form');
        const coords = {};


        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (pos) {
                    coords.latitude = pos.coords.latitude;
                    coords.longitude = pos.coords.longitude;
                })
            } else {
                window.alert("location not supported");
            }
        }



        form.addEventListener('submit', (e) => {
            e.preventDefault();
            getLocation();
            const phone = form.phone.value;
            const name = form.name.value;
            const address = form.address.value;
            const pincode = form.pincode.value;
            const password = form.password.value;

            console.log(phone, name, address, pincode, password, coords);
        });
    </script>

</html>